
@font-face {
  font-family: 'Gudea-Bold';
  src: url('Gudea-Bold.eot?#iefix') format('embedded-opentype'),  url('Gudea-Bold.woff') format('woff'), url('Gudea-Bold.ttf')  format('truetype'), url('Gudea-Bold.svg#Gudea-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
